In [27]:
import pandas as pd

In [28]:
call_logs = pd.read_csv(r"C:\Users\akash\Desktop\call_logs.csv", parse_dates=["call_date", "created_ts"])
agent_roster = pd.read_csv(r"C:\Users\akash\Desktop\agent_roster.csv")
disposition_summary = pd.read_csv(r"C:\Users\akash\Desktop\disposition_summary.csv", parse_dates=["call_date", "login_time"])

C:\Users\akash\AppData\Local\Temp\ipykernel_17932\1237011349.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  disposition_summary = pd.read_csv(r"C:\Users\akash\Desktop\disposition_summary.csv", parse_dates=["call_date", "login_time"])

In [29]:
print(call_logs.head())

  call_id agent_id org_id installment_id     status  duration  \
0   C5333     A020     O2          L1826  completed      5.68
1   C3045     A018     O1          L1996  no_answer     14.27
2   C5803     A018     O1          L1849     failed     11.01
3   C2139     A007     O1          L1046  connected      9.02
4   C4814     A003     O1          L1887  completed      2.42

           created_ts  call_date
0 2025-04-28 15:40:00 2025-04-28
1 2025-04-28 02:41:00 2025-04-28
2 2025-04-28 19:42:00 2025-04-28
3 2025-04-28 09:52:00 2025-04-28
4 2025-04-28 12:58:00 2025-04-28

In [30]:
print(agent_roster.head())

  agent_id users_first_name users_last_name users_office_location org_id
0     A001      AgentFirst1      AgentLast1             Bangalore     O1
1     A002      AgentFirst2      AgentLast2                 Delhi     O1
2     A003      AgentFirst3      AgentLast3                Mumbai     O1
3     A004      AgentFirst4      AgentLast4             Bangalore     O3
4     A005      AgentFirst5      AgentLast5             Bangalore     O3

In [31]:
print(disposition_summary.head())

  agent_id org_id  call_date          login_time
0     A001     O1 2025-04-28 2025-05-04 11:58:00
1     A002     O1 2025-04-28 2025-05-04 10:05:00
2     A003     O1 2025-04-28 2025-05-04 10:24:00
3     A004     O3 2025-04-28 2025-05-04 08:13:00
4     A005     O3 2025-04-28                 NaT

## Validation:

##  Ensure call_date, agent_id, and org_id are present and correctly formatted

In [32]:
import logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
# Function to validate a dataframe
def validate_dataframe(df, df_name, required_columns):
    # 1. Check if required columns are present
    for col in required_columns:
        if col not in df.columns:
            logging.error(f"❌ Column '{col}' is missing in {df_name}")
        else:
            logging.info(f"✅ Column '{col}' exists in {df_name}")
# Task 1: Validate required columns for each dataset
validate_dataframe(call_logs, "call_logs", ["agent_id", "org_id", "call_date"])
validate_dataframe(agent_roster, "agent_roster", ["agent_id", "org_id"])
validate_dataframe(disposition_summary, "disposition_summary", ["agent_id", "org_id", "call_date"])

2025-05-04 15:56:47,540 - INFO - ✅ Column 'agent_id' exists in call_logs
2025-05-04 15:56:47,541 - INFO - ✅ Column 'org_id' exists in call_logs
2025-05-04 15:56:47,542 - INFO - ✅ Column 'call_date' exists in call_logs
2025-05-04 15:56:47,543 - INFO - ✅ Column 'agent_id' exists in agent_roster
2025-05-04 15:56:47,544 - INFO - ✅ Column 'org_id' exists in agent_roster
2025-05-04 15:56:47,545 - INFO - ✅ Column 'agent_id' exists in disposition_summary
2025-05-04 15:56:47,546 - INFO - ✅ Column 'org_id' exists in disposition_summary
2025-05-04 15:56:47,546 - INFO - ✅ Column 'call_date' exists in disposition_summary

### Flag missing or duplicate entries

In [33]:
def missing_value(df, df_name, required_columns):
    missing = df[required_columns].isnull().sum()
    for col, count in missing.items():
        if count > 0:
            logging.warning(f"⚠️ {count} missing values in '{col}' of {df_name}")
        else:
            logging.info(f"✅ No missing values in '{col}' of {df_name}")

    dup_count = df.duplicated().sum()
    if dup_count > 0:
        logging.warning(f"⚠️ {dup_count} duplicate rows found in {df_name}")
    else:
        logging.info(f"✅ No duplicate rows in {df_name}")

# Run the validation
missing_value(call_logs, "call_logs", ["agent_id", "org_id", "call_date"])
missing_value(agent_roster, "agent_roster", ["agent_id", "org_id"])
missing_value(disposition_summary, "disposition_summary", ["agent_id", "org_id", "call_date"])

2025-05-04 15:56:48,423 - INFO - ✅ No missing values in 'agent_id' of call_logs
2025-05-04 15:56:48,425 - INFO - ✅ No missing values in 'org_id' of call_logs
2025-05-04 15:56:48,426 - INFO - ✅ No missing values in 'call_date' of call_logs
2025-05-04 15:56:48,428 - INFO - ✅ No duplicate rows in call_logs
2025-05-04 15:56:48,430 - INFO - ✅ No missing values in 'agent_id' of agent_roster
2025-05-04 15:56:48,431 - INFO - ✅ No missing values in 'org_id' of agent_roster
2025-05-04 15:56:48,434 - INFO - ✅ No duplicate rows in agent_roster
2025-05-04 15:56:48,437 - INFO - ✅ No missing values in 'agent_id' of disposition_summary
2025-05-04 15:56:48,440 - INFO - ✅ No missing values in 'org_id' of disposition_summary
2025-05-04 15:56:48,440 - INFO - ✅ No missing values in 'call_date' of disposition_summary
2025-05-04 15:56:48,443 - INFO - ✅ No duplicate rows in disposition_summary

# Task-2

In [34]:
# Step 2: Merge call_logs with disposition_summary on common keys
merged_step1 = pd.merge(call_logs, disposition_summary,
                        on=["agent_id", "org_id", "call_date"],
                        how="outer", indicator=True)

print("\n▶️ Merged DataFrame (Step 1):")
display(merged_step1) 

print("\n▶️ Merge Origin Summary:")
display(merged_step1["_merge"].value_counts().to_frame(name="count"))

▶️ Merged DataFrame (Step 1):

,call_id,agent_id,org_id,installment_id,status,duration,created_ts,call_date,login_time,_merge
0,C8508,A001,O1,L1636,completed,1.42,2025-04-28 02:30:00,2025-04-28,2025-05-04 11:58:00,both
1,C4164,A001,O1,L1408,failed,5.44,2025-04-28 09:30:00,2025-04-28,2025-05-04 11:58:00,both
2,C1757,A001,O1,L1250,no_answer,7.89,2025-04-28 20:51:00,2025-04-28,2025-05-04 11:58:00,both
3,C2746,A001,O1,L1797,no_answer,1.71,2025-04-28 07:28:00,2025-04-28,2025-05-04 11:58:00,both
4,C6763,A001,O1,L1305,no_answer,13.95,2025-04-28 14:18:00,2025-04-28,2025-05-04 11:58:00,both
...,...,...,...,...,...,...,...,...,...,...
495,C9647,A020,O2,L1433,completed,9.56,2025-04-28 09:50:00,2025-04-28,2025-05-04 09:50:00,both
496,C9782,A020,O2,L1016,connected,9.43,2025-04-28 04:54:00,2025-04-28,2025-05-04 09:50:00,both
497,C8126,A020,O2,L1281,completed,1.60,2025-04-28 02:33:00,2025-04-28,2025-05-04 09:50:00,both
498,C2946,A020,O2,L1131,completed,11.89,2025-04-28 13:26:00,2025-04-28,2025-05-04 09:50:00,both
499,C6218,A020,O2,L1166,no_answer,8.29,2025-04-28 21:02:00,2025-04-28,2025-05-04 09:50:00,both

▶️ Merge Origin Summary:

            count
_merge
both          500
left_only       0
right_only      0

In [35]:
# Step 3: Merge result with agent_roster (based on agent_id, org_id only)
final_merged = pd.merge(merged_step1, agent_roster,
                        on=["agent_id", "org_id"],
                        how="outer", indicator="merge_status",
                        suffixes=('', '_roster'))

print("\n✅ Final merge with agent_roster complete:")
print("\n▶️ Final Merged DataFrame:")
display(final_merged.head()) 

print("\n▶️ Merge Status Summary:")
display(final_merged["merge_status"].value_counts().to_frame(name="count"))
display(final_merged.shape)

✅ Final merge with agent_roster complete:

▶️ Final Merged DataFrame:

,call_id,agent_id,org_id,installment_id,status,duration,created_ts,call_date,login_time,_merge,users_first_name,users_last_name,users_office_location,merge_status
0,C8508,A001,O1,L1636,completed,1.42,2025-04-28 02:30:00,2025-04-28,2025-05-04 11:58:00,both,AgentFirst1,AgentLast1,Bangalore,both
1,C4164,A001,O1,L1408,failed,5.44,2025-04-28 09:30:00,2025-04-28,2025-05-04 11:58:00,both,AgentFirst1,AgentLast1,Bangalore,both
2,C1757,A001,O1,L1250,no_answer,7.89,2025-04-28 20:51:00,2025-04-28,2025-05-04 11:58:00,both,AgentFirst1,AgentLast1,Bangalore,both
3,C2746,A001,O1,L1797,no_answer,1.71,2025-04-28 07:28:00,2025-04-28,2025-05-04 11:58:00,both,AgentFirst1,AgentLast1,Bangalore,both
4,C6763,A001,O1,L1305,no_answer,13.95,2025-04-28 14:18:00,2025-04-28,2025-05-04 11:58:00,both,AgentFirst1,AgentLast1,Bangalore,both

▶️ Merge Status Summary:

              count
merge_status
both            500
left_only         0
right_only        0

(500, 14)

#### A full outer join is used to retain all records from all datasets, even if they don’t match.

In [36]:
# Step 4: Identify unmatched rows
unmatched = final_merged[final_merged["merge_status"] != "both"]

print("\n⚠️ Unmatched Rows (mismatches across datasets):")
display(unmatched.head())  
print(f"\n🔎 Total unmatched rows: {len(unmatched)}")

⚠️ Unmatched Rows (mismatches across datasets):

Empty DataFrame
Columns: [call_id, agent_id, org_id, installment_id, status, duration, created_ts, call_date, login_time, _merge, users_first_name, users_last_name, users_office_location, merge_status]
Index: []

🔎 Total unmatched rows: 0

# Task -3

## Feature Engineering

In [37]:
# Step 1: Create presence flag (1 if login_time exists, else 0)
final_merged["presence"] = final_merged["login_time"].notnull().astype(int)

# Step 2: Create a 'connected_flag' column for completed calls
final_merged["is_connected"] = final_merged["status"].str.lower().eq("completed").astype(int)

In [38]:
# Aggregate key metrics per agent per day
agent_daily_summary = final_merged.groupby(["agent_id", "call_date"]).agg(
    total_calls=("call_id", "count"),
    unique_loans_contacted=("installment_id", "nunique"),
    completed_calls=("is_connected", "sum"),
    avg_call_duration_min=("duration", lambda x: round(x.mean(), 2)),
    presence=("presence", "max")
).reset_index()

# Add connect rate
agent_daily_summary["connect_rate"] = round(
    agent_daily_summary["completed_calls"] / agent_daily_summary["total_calls"], 2)

In [39]:
print("🧾 Final Output (agent_daily_summary):")
display(agent_daily_summary)

🧾 Final Output (agent_daily_summary):

,agent_id,call_date,total_calls,unique_loans_contacted,completed_calls,avg_call_duration_min,presence,connect_rate
0,A001,2025-04-28,20,20,2,6.84,1,0.10
1,A002,2025-04-28,23,23,3,7.83,1,0.13
2,A003,2025-04-28,21,21,8,7.17,1,0.38
3,A004,2025-04-28,27,27,4,8.06,1,0.15
4,A005,2025-04-28,29,28,4,7.06,0,0.14
5,A006,2025-04-28,16,16,2,8.84,1,0.12
6,A007,2025-04-28,24,23,5,7.04,1,0.21
7,A008,2025-04-28,29,29,8,6.60,1,0.28
8,A009,2025-04-28,26,25,7,7.39,1,0.27
9,A010,2025-04-28,38,38,7,8.08,1,0.18
10,A011,2025-04-28,22,22,5,9.07,1,0.23
11,A012,2025-04-28,20,20,5,7.10,0,0.25
12,A013,2025-04-28,22,22,2,6.88,1,0.09
13,A014,2025-04-28,30,30,10,7.70,1,0.33
14,A015,2025-04-28,28,27,4,8.51,1,0.14
15,A016,2025-04-28,22,22,6,8.70,1,0.27
16,A017,2025-04-28,20,19,2,6.67,1,0.10
17,A018,2025-04-28,35,34,6,7.49,0,0.17
18,A019,2025-04-28,27,27,6,6.92,1,0.22
19,A020,2025-04-28,21,21,7,6.56,1,0.33

# Task-4

 ### Output: Save the report as agent_performance_summary.csv

In [40]:
agent_daily_summary.to_csv(r"C:\Users\akash\Desktop\agent_performance_summary.csv", index=False)
print("✅ agent_performance_summary.csv saved to Desktop.")

✅ agent_performance_summary.csv saved to Desktop.

## Format a Slack-style summary message like:

In [41]:
# Generate summary for specific date (e.g., 2025-04-28)
report_date = "2025-04-28"
summary_df = agent_daily_summary[agent_daily_summary["call_date"] == report_date]

if not summary_df.empty:
    top_row = summary_df.loc[summary_df["connect_rate"].idxmax()]
    top_agent_name = final_merged.loc[final_merged["agent_id"] == top_row["agent_id"], "users_first_name"].iloc[0]
    top_connect_rate = int(top_row["connect_rate"] * 100)
    active_agents = summary_df["agent_id"].nunique()
    avg_duration = round(summary_df["avg_call_duration_min"].mean(), 3)
    
    slack_message = (
        f"*Agent Summary for {report_date}*\n"
        f"Top Performer: {top_agent_name} ({top_connect_rate}% connect rate)\n"
        f"Total Active Agents: {active_agents}\n"
        f"Average Duration: {avg_duration} min"
    )
else:
    slack_message = f"*Agent Summary for {report_date}*\nNo activity recorded."

print("\n📩 Slack Summary Message:")
print(slack_message)

📩 Slack Summary Message:
*Agent Summary for 2025-04-28*
Top Performer: AgentFirst3 (38% connect rate)
Total Active Agents: 20
Average Duration: 7.525 min